Options All -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


ErrorDocument 401 /Views/Errors/401.php
ErrorDocument 403 /Views/Errors/403.php
ErrorDocument 404 /Views/Errors/404.php
ErrorDocument 500 /Views/Errors/500.php